/** @format */

.container {
  display: flex;
  width: 324px;
  height: 242px;
  background-color: aqua;
  border-radius: 16px;
}

@media screen and (max-width: 425px) {
  .container {
  }
}
@media screen and (min-width: 426px) {
  .container {
  }
}
