/** @format */

.container {
  display: flex;
  flex-direction: column;
}

.container2 {
  padding-left: 5%;
  padding-right: 5%;
}
.productsContainer {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 425px) {
  .container {
    /* flex-direction: column; */
  }
}
@media screen and (min-width: 426px) {
  .container {
    /* flex-direction: row; */
  }
}
